<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="dish">
      <div fxFlex >
        <md-card>
          <md-card-header>
            <md-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </md-card-title>
          </md-card-header>
          <img md-card-image src={{dish.image}} alt={{dish.name}}>
          <md-card-content>
            <p>{{dish.description}}
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-button [routerLink]="['/dishdetail',prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button md-button (click)="goBack();">Back</button>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>   
            <button md-button [routerLink]="['/dishdetail', next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>        
          </md-card-actions>
        </md-card>
      </div>

</div>


    
 <div fxFlex="40" *ngIf="dish">
    <h2>Comments</h2>
    <br/>
      <md-list class="md-list">
              <md-list-item class="md-6-line" *ngFor="let item of dish.comments">                      
                <div class="md-list-item-text" layout="column">
                    {{item.rating}} Stars
                    <br>
                  {{item.comment}}
                  <br>
                  --{{item.author}} {{item.date | date}}
                  <br>
                  <br>
                  <br>
                </div>                 
                                            
              </md-list-item>
      </md-list>       
  </div>
  <div [hidden]="dish">
<md-spinner></md-spinner><h4>Loading.... Please Wait</h4>
  </div>


</div>